@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #737b82;
    font-family: "Open Sans", sans-serif;
}






.loginHero {
    width: 40%;
    height: 100%;

    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(193,215,45,1) 100%);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    float: left;
    
    display: flex;
    justify-content: center;
  align-items: center;
}
  
.login {
    margin-left: 40%;
    height: 100%;
    background: #ffffff;
}
.loginLogo img{
    width: 400px;
    height: 200px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm form input[type=text]{
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;
    
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    /*outline-color: #b28ee4;*/
    
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}
.loginForm form input[type=password]{
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;
    
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    /*outline-color: #b28ee4;*/
    
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}
.loginForm form button{
    margin-top: 20px;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    color: #ffffff;
    border-radius: 40px;
    border-style: none;
    
    background-color: #c1d72d;
    /*outline-color: #b28ee4;*/
    
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}





.header{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 30px;
}
.header div img{
    width: 300px;
}
.header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.header li{
    padding: 30px;
}
.header li a{
    text-decoration: none;
    color: #737b82;
}
.commutingBody form{
    margin: 50px;
}
.commutingBody form .locationInput{
    display: flex;
    flex-direction: row;
}
.commutingBody form .locationInput div{


    padding: 50px;
}
.commutingBody form input[type=text]{
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}
.commutingBody form .radioChoice{
    display: flex;
    flex-direction: column;
}


